@inherits VMatSwitchCode

<div class="custom-control custom-switch" style="@Style" id="@ID">
    <input class="custom-control-input" id="customSwitch" type="checkbox" checked="@Checked" onchange="@CheckedChangedHandled"/>
    <span class="custom-control-track"></span>
    <label class="custom-control-label" for="customSwitch">@Text</label>
</div>