@inherits VMatTextAreaCode

<div class="form-group" style="@Style" id="@ID">
    <div class="floating-label">
        <label for="exampleFormControlTextarea1">@FloatingLabelText</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="@PlaceHolderText" onchange="@HangleTextChange"  value="@Text" ></textarea>
    </div>
</div>