@inherits VMatRadioButtonCode

<div class="custom-control custom-radio" style="@Style" id="@ID">
    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked="@Checked" onchange="@CheckedChangedHandled"/>
    <label class="custom-control-label" for="customRadio1">@Text</label>
</div>