@inherits VMatConfirmDlgCode


<!-- Modal -->
@* <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"> *@
@*   <div class="modal-dialog modal-dialog-centered" role="document"> *@
@*     <div class="modal-content"> *@
@*       <div class="modal-header"> *@
@*         <h5 class="modal-title" id="exampleModalCenterTitle">@Title</h5> *@
@*         <button type="button" class="close" data-dismiss="modal" aria-label="Close"> *@
@*           <span aria-hidden="true">&times;</span> *@
@*         </button> *@
@*       </div> *@
@*       <div class="modal-body"> *@
@*         ... *@
@*       </div> *@
@*       <div class="modal-footer"> *@
@*         <button type="button" class="btn btn-secondary" data-dismiss="modal">@CancelText</button> *@
@*         <button type="button" class="btn btn-primary">@ConfirmText</button> *@
@*       </div> *@
@*     </div> *@
@*   </div> *@
@* </div> *@

<div class="modal fade" id="@ID" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p class="text-black-secondary typography-subheading">@Title</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-info" data-dismiss="modal" type="button">@CancelText</button>
                <button class="btn btn-outline-info" type="button" onclick="@OnConfirmClicked" data-dismiss="modal">@ConfirmText</button>
            </div>
        </div>
    </div>
</div>